<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.tasks.presentation.ui.PortraitCaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
    </application>
</manifest>
